<?xml version="1.0"?>
<config>
  <modules>
    <NavyasFashion_Enquiry>
      <version>0.1.0</version>
    </NavyasFashion_Enquiry>
  </modules>
  <global>
    <helpers>
      <enquiry>
        <class>NavyasFashion_Enquiry_Helper</class>
      </enquiry>
    </helpers>
	<resources>
	  <enquiry_setup>
		<setup>
		  <module>NavyasFashion_Enquiry</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </enquiry_setup>
	  <enquiry_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </enquiry_write>
	  <enquiry_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </enquiry_read>
	</resources>
  </global>
</config> 